body{
    background-color: hotpink;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}
h1{
    font-size: 50px;
    margin-top: 20%;
}
p{
    color: yellow;
    text-decoration: none;
    font-size: 20px;
}